$body-background: #fff;
$font-size-default: 16px;
$color-default: #000;
$font-size_h3: 24px;
$font-weight_h3: bold;
$background-button: #e85f0c;
$background-button-hover: #e6ad28;
$color-button: #fff;
$color-li-a: #e85f0c;
$color-li-a-hover: #e6ad28;
@font-face{
    font-family: Panton-Regular;
    src: url(../fonts/Panton-Regular.ttf);
}
@font-face{
    font-family: Panton-Bold;
    src: url(../fonts/Panton-Bold.ttf);
}@font-face{
    font-family: Panton-Black;
    src: url(../fonts/Panton-Black.ttf);
}
body{
    background: $body-background;
    color: $color-default;
    font-family: Panton-Regular;
    font-size: $font-size-default;
    min-width: 320px;
}
img{
    height: auto;
    max-width: 100%;
}
h3{
    font-size: $font-size_h3;
    font-weight: $font-weight_h3;
}
.btn-red{
    background: $background-button;
    color: $color-button;
    &:hover{
        background: $background-button-hover;
    }
}
/*==========================header============================*/
/*==============menu-top================*/
.menu-top{
    .navbar{
        background: #fff;
        margin-bottom: 0;
        padding: 20px 0;
    }
    .navbar-default{
        ul{
            > li{
                margin-left: 12px;
            }
        }
        .navbar-nav{
            ul{
                > li{
                    list-style-type: none;
                    /*margin-left: 30px;*/
                    &.btn-menu{
                        margin-top: 14px;
                    }
                    &.phone{
                        font-family: Panton-Bold;
                        font-size: 22px;
                    }
                    span{
                        padding-left: 5px;
                    }
                    a{
                        /*font-weight: bold;*/
                        color: $color-li-a;
                        text-decoration: underline;
                        &:hover{
                            color: $color-li-a-hover;
                        }
                        &.menu-top-link{
                            font-size: 14px;
                        }
                        &.btn-red{
                            box-shadow: 0 10px 10px rgba(235,95,12,0.3);
                            color: #fff;
                            margin-top: 10px;
                            padding: 10px 50px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
/*==============.main-menu================*/
.main-menu{
    .navbar{
        background: #fff;
        margin-bottom: 0;
        padding-bottom: 16px;
    }
    .navbar-default{
        .container{
            .navbar-header{
                .navbar-brand{
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .navbar-nav{
              margin-top: 20px;
                li{
                    a{
                        color: #000;
                        padding-top: 0;
                        padding-bottom: 0;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
/*====================carousel====================*/
header{
    margin-bottom: -88px;
    .menu-carousel{
        .carousel-control{
          .arrow-wrap {
            background: #fff;
            border-radius: 50%;
            height: 48px;
            margin-top: 253px;
            width: 48px;
            &:hover{
              background: #E6AD28;
              box-shadow: 0 10px 10px rgba(235,95,12,0.3);
            }
            img {
              margin-top: 17px;
            }
          }
        }
        .carousel-indicators-wrap{
            .carousel-indicators{
                li{
                    background: #E6AD28;
                    //border-color: #E6AD28;
                    height: 12px;
                    margin: 4px;
                    width: 12px;
                    &.active {
                        border-color: #E6AD28;
                        background: #f6f6f6;
                        height: 18px;
                        margin: 1px;
                        width: 18px;
                        .indicators-active {
                            border-radius: 50%;
                            height: 10px;
                            width: 10px;
                            background: #E6AD28;
                            margin-top: 3px;
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
        .item{
            background: #f6f6f6;
            img{
                margin: 0 auto;
            }
            .carousel-caption{
                //outline:1px solid blue;
                padding-bottom: 90px;
                .item-wrap {
                    //outline: 1px solid green;
                    padding-left: 20px;
                    img{
                        left: 0;
                        position: absolute;
                        //top: 0;
                    }
                    h1 {
                        color: #000;
                        font-family: Panton-Black;
                        font-size: 57px;
                        text-align: left;
                        text-shadow: none;
                        text-transform: uppercase;
                        padding-top: 11px;
                    }
                    h3 {
                        color: #626262;
                        font-family: Panton-Black;
                        font-size: 16px;
                        margin-top: 10px;
                        text-align: left;
                        text-shadow: none;
                        text-transform: uppercase;
                    }
                    a.btn-red {
                        display: block;
                        margin-top: 24px;
                        padding: 12px 37px;
                        font-weight: bold;
                        text-align: left;
                        width: 225px;
                        &:hover{
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
/*======================main-content=======================*/
.main-content{
  .container{
    .row{
      .col-md-8{
        margin-top: 130px;
        .list-products{
          h3{
            padding-bottom: 13px;
          }
          .products-row{
            .col-sm-6{
              padding-left: 0;
              .product{
                ul{
                  padding-left: 0;
                  li{
                    line-height: 1.7;
                    list-style-type: none;
                    a{
                      color: $color-li-a;
                      font-size: 17px;
                      padding: 5px 7px;
                      text-decoration: underline;
                      &:hover{
                        background: $color-li-a;
                        color: #fff;
                        text-decoration: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}