@font-face {
  font-family: Panton-Regular;
  src: url(../fonts/Panton-Regular.ttf); }
@font-face {
  font-family: Panton-Bold;
  src: url(../fonts/Panton-Bold.ttf); }
@font-face {
  font-family: Panton-Black;
  src: url(../fonts/Panton-Black.ttf); }
body {
  background: #fff;
  color: #000;
  font-family: Panton-Regular;
  font-size: 16px;
  min-width: 320px; }

img {
  height: auto;
  max-width: 100%; }

h3 {
  font-size: 24px;
  font-weight: bold; }

.btn-red {
  background: #e85f0c;
  color: #fff; }
  .btn-red:hover {
    background: #e6ad28; }

/*==========================header============================*/
/*==============menu-top================*/
.menu-top .navbar {
  background: #fff;
  margin-bottom: 0;
  padding: 20px 0; }
.menu-top .navbar-default ul > li {
  margin-left: 12px; }
.menu-top .navbar-default .navbar-nav ul > li {
  list-style-type: none;
  /*margin-left: 30px;*/ }
  .menu-top .navbar-default .navbar-nav ul > li.btn-menu {
    margin-top: 14px; }
  .menu-top .navbar-default .navbar-nav ul > li.phone {
    font-family: Panton-Bold;
    font-size: 22px; }
  .menu-top .navbar-default .navbar-nav ul > li span {
    padding-left: 5px; }
  .menu-top .navbar-default .navbar-nav ul > li a {
    /*font-weight: bold;*/
    color: #e85f0c;
    text-decoration: underline; }
    .menu-top .navbar-default .navbar-nav ul > li a:hover {
      color: #e6ad28; }
    .menu-top .navbar-default .navbar-nav ul > li a.menu-top-link {
      font-size: 14px; }
    .menu-top .navbar-default .navbar-nav ul > li a.btn-red {
      box-shadow: 0 10px 10px rgba(235, 95, 12, 0.3);
      color: #fff;
      margin-top: 10px;
      padding: 10px 50px;
      text-decoration: none; }

/*==============.main-menu================*/
.main-menu .navbar {
  background: #fff;
  margin-bottom: 0; }
.main-menu .navbar-default .container .navbar-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }
.main-menu .navbar-default .container .navbar-nav li a {
  color: #000;
  padding-top: 23px;
  padding-bottom: 23px;
  text-decoration: underline; }

/*====================carousel====================*/
header .menu-carousel .carousel-control .icon-prev {
  background-image: url("../img/angle.png"); }
header .menu-carousel .carousel-indicators-wrap .carousel-indicators li {
  background: #E6AD28;
  height: 12px;
  margin: 4px;
  width: 12px; }
  header .menu-carousel .carousel-indicators-wrap .carousel-indicators li.active {
    border-color: #E6AD28;
    background: #f6f6f6;
    height: 18px;
    margin: 1px;
    width: 18px; }
    header .menu-carousel .carousel-indicators-wrap .carousel-indicators li.active .indicators-active {
      border-radius: 50%;
      height: 10px;
      width: 10px;
      background: #E6AD28;
      margin-top: 3px;
      margin-left: 3px; }
header .menu-carousel .item {
  background: #f6f6f6; }
  header .menu-carousel .item img {
    margin: 0 auto; }
  header .menu-carousel .item .carousel-caption {
    padding-bottom: 90px; }
    header .menu-carousel .item .carousel-caption .item-wrap {
      padding-left: 20px; }
      header .menu-carousel .item .carousel-caption .item-wrap img {
        left: 0;
        position: absolute; }
      header .menu-carousel .item .carousel-caption .item-wrap h1 {
        color: #000;
        font-family: Panton-Black;
        font-size: 57px;
        text-align: left;
        text-shadow: none;
        text-transform: uppercase;
        padding-top: 11px; }
      header .menu-carousel .item .carousel-caption .item-wrap h3 {
        color: #626262;
        font-family: Panton-Black;
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        text-shadow: none;
        text-transform: uppercase; }
      header .menu-carousel .item .carousel-caption .item-wrap a.btn-red {
        display: block;
        margin-top: 24px;
        padding: 12px 37px;
        font-weight: bold;
        text-align: left;
        width: 225px; }
        header .menu-carousel .item .carousel-caption .item-wrap a.btn-red:hover {
          color: #fff;
          text-decoration: none; }

/*# sourceMappingURL=mysass.css.map */
